.containerPrincipalCardAnimal{
    width: 600px;
    height: 500px;
    border: 6px solid black;
    border-radius: 12px;
    padding: 15px;
}
.containerPrincipalCardAnimalImagem{
    width: 100%;
    height: 100%;
}