.containerMain{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerTexto{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 80px;
}
.containerTextoSubtitulo{
    font-size: 30px;
}
.containerTextoParagrafo{
    font-size: 22px;
    line-height: 36px;
}
.Link{
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px;
    background-color: #00ffff;
    color: #fff;
}
.containerTexto a:hover{
    color: #000;
}