.containerAparelho{
    width: 100%;
    margin: 50px 0;

    flex-direction: column;
}
.Cads,
.containerAparelho{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.Titulo{
    font-size: 30px;
    color: #000;
}
.Destaque{
    color: #937a34;
}
.Img{
    width: 70%;
    height: 50%;
}
.Boxs{
    width: 25%;
    text-align: left;
}
.Subtitulo{
    font-size: 26px;
    color: #000;
}
.paragrafo{
    padding: 10px 0;
    font-size: 22px;
    line-height: 36px;
}